/* FUENTES PARA EL SITIO WEB*/
@font-face {
    font-family: 'computronik';
    src:url('fuentes/computronik.eot?toqcss');
    src:url('fuentes/computronik.eot?#iefixtoqcss') format('embedded-opentype'),
        url('fuentes/computronik.woff?toqcss') format('woff'),
        url('fuentes/computronik.ttf?toqcss') format('truetype'),
        url('fuentes/computronik.svg?toqcss#computronik') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'computronik';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ic
{
    font-size: 2em;
}

.icon-direccion:before {
    content: "\e600 ";
}
.icon-contacto:before {
    content: "\e601 ";
}
.icon-telefono:before {
    content: "\e605 ";
}
.icon-correo:before {
    content: "\e606 ";
}
.icon-celular:before {
    content: "\e607 ";
}
.icon-location2:before {
    content: "\e608 ";
}
.icon-reloj:before {
    content: "\e60b ";
}
.icon-twitter:before {
    content: "\e612 ";
}
.icon-facebook:before {
    content: "\e613 ";
}
.icon-skype:before {
    content: "\e614 ";
}

/* FIN DE CODIGO DE FUENTES*/




a
{
    color: #24BCA1;
}
body
{
    background: #EEEEEE;
    font-size: 16px;
    font-family: Arial;
    min-width: 30%;
}
header
{
    background: white;
    overflow: hidden;
    padding: 0.5em;
    
}
header h1
{
    
    display: inline-block;
    font-size: 1.2em;
}
header h1 a
{
    color: #444;
    font-weight: bold;
    text-decoration: none;
}
header h1 a span
{
    font-weight: normal;
}
footer
{
    background: #444;
    margin-top: 0.05;
    padding: 1em;
}
footer p
{
    color: #99CC00;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
}
footer p a
{
    color: white;
    font-weight: normal;
    text-decoration: none;
}
footer p span
{
    color: white;
}
nav 
{
    background: #444;
}
nav ul
{
    list-style: none;    
    margin: 0;
    padding: 0 6em 0 0;
}
nav ul li
{
    display: inline-block;
    margin: 0;
}
nav ul li a
{
    color: white;
    display: block;
    padding: 0.5em;
    text-decoration: none;
}
#contacto
{
    background: #444;
    margin: 1em 0;
    padding: 0.5em 0;
    overflow: hidden;
}

#icono
{
    background: white;
    padding: 0.5em;
    margin: 0;
}
#icono span
{
    color: #444;
    display: block;
    font-size: 1.1em;
    text-align: center;
    padding: 0.1em 0;
}
header #login
{
    background: #99CC00;
    color: #444;
    display: inline-block;
    float: right;
   
    margin: 0;    
    padding-left: 0.5em;
}
header #login a
{
    color: #444;
    display: block;
    text-decoration: none;
    padding: 0.5em;
}
header #login span
{
    display: inline-block;
}
header #logo
{
    border-right: 1px solid #444;
    float: left;
    margin-right:  0.5em ;
    padding-right: 0.5em;    
}
header #logo img
{
    border: 1px solid #444;
    border-radius: 50%;
    --webkit--transition: 0.5s;
    width: 45px;
}
header #login a:hover
{
    color: white;
    background: #444;
    --webkit--transition: .3s;   
}
header #logo img:hover
{
    --webkit--transition: 0.5s;
    --webkit--transform: rotate(360deg);
}
nav ul li a:hover
{
    color: #444;
    background: #99CC00;
    transition: .3s;
}
.contenedor
{
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}